<html>
    <head>
        <script src="langs.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <h3>Code Compile</h3>
        <!-- getting the id of the language -->
        <label>Language ID <a href = "#" id = "langhelp">(list)</a>:</label>
        <input type = 'text' id = "langid" value = 0 />
        <br/>
        <label>Code:</label>
        <textarea id = "code">print 'Hello!'</textarea>
        <br/>
        <br/>
        <!-- creating box for stdin -->
        <label>STDIN:</label>
        <textarea id = "stdin"> hello </textarea>
        <input type = "button" value = "Compile" id = "send" />
        <!-- output box -->
        <p class="output" id="output">Output appears here</p>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>    
        
        <script type="text/javascript">
            // Show language codes to user on clicking help link
            $('#langhelp').on('click', () => {
                let msg = "0: C/C++ \n 1: Python";
                alert(msg);
            });

            // Compile user code
            $('#send').on('click', function() {
                var language = $('#langid').val();
                var code = $('#code').val();
                var stdin = $('#stdin').val();
                // Pass the json file to the page 
                var json = { code, stdin, language};
                console.log(json);

                $.post("/compile", json, function(data, error, xhr) {
                    document.getElementById("output").innerHTML = "Output: " + data.output;
                });
            });
        </script>
    </body>
</html>
